<section>
  <h1>Enter your Reply:</h1>
  <form action="/chirps/<%= @chirp_id %>/replies" method="post">
    <table>
      <tr><td>Reply: </td><td><textarea type="text" name="message"></textarea></td></tr>
      <tr><td></td><td><input type="submit" class="button" value="Reply"></td></tr>
    </table>
  </form>
</section>
