<section>
  <h1>Enter your Chirp:</h1>
  <form action="/chirps" method="post">
    <table>
      <tr><td>Message: </td><td><textarea type="text" name="message"></textarea></td></tr>
      <tr><td></td><td><input type="submit" class="button" value="Chirp"></td></tr>
    </table>
  </form>
</section>
