/** {
  margin: 0;
}*/

body {
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 14px;
  background-image: url(/images/upfeathers.png);
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

header {
  height: 40px;
  background-color: #1abc9c;
  color: white;
  padding: 0 20px;
  display: flex;
}

header #logo {
  /*margin-right: 20px;*/
  display: flex;
  font-size: 18px;
}

header #user-links {
  flex: 1;
  -webkit-flex: 1;
  text-align: right;
}

header a {
  color: white;
  text-decoration: none;
}

header > * {
  margin: auto 0;
}

.button {
  width: 110px;
  cursor: pointer;
  font-size: 12px;
  background-color: gray;
  border: 2px solid white;
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  text-decoration: none;
}

/** {
  box-sizing: border-box;
}*/

#container {
  display: -webkit-flex;
  display: flex;
}

footer {
  height: 50px;
  background-color: rgba(0,0,0,0.2);
  text-align: center;
}

footer p {
  padding: 15px 25px;
}

h1 {
  font-size: 22px;
  margin-bottom: 30px;
}

form {
  text-align: left;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
}

form input[type="text"], form input=[type="password"] {
  border: 1px solid black;
  font-size: 14px;
  width: 400px;
  background-color: #ffffcc;
}

textarea {
  vertical-align: middle;
  width: 500px;
}

section {
  background-color: white;
  -webkit-flex: 1;
  flex: 1;
  margin: 20px 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  padding: 10px;
}

.flash {
  text-align: center;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  color: white;
}

.flash.notice {
  background-color: rgba(67,183,120,0.75);
}

.flash.error {
  background-color: rgba(169,29,42,0.75);
}

.chirp {
  background-color: #ecf0f1;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  margin: 10px 100px;
  padding: 20px 10px;
}

.chirp .message {
  margin: 10px;
}

.chirp .author {
  float: right;
  font-size: 12px;
}
