<section>
  <h1>Welcome to Chirper!</h1>
  <% if @chirps %>
    <ul>
      <% @chirps.each do |chirp| %>
        <%= partial :chirp, :locals => { :chirp => chirp } %>
      <% end %>
    </ul>
    <% end %>
</section>
