<h1>Welcome to Chirper!</h1>

<section>
  <% if @chirps %>
    <ul>
      <% @chirps.each do |chirp| %>
        <li>
          <%= chirp.message %><br>
          Chirped by <%= find_chirper(chirp).first_name %> 
          <%= find_chirper(chirp).last_name %> 
          (<%= find_chirper(chirp).user_name %>)
        </li>
      <% end %>
    </ul>
    <% end %>
</section>
