<head>
  <title>Chirper</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/application.css">
</head>

<body>
  <div class="wrapper">
    <%= partial :header %>
    <%= partial :flash_message %>
    <div id="container">
      <%= yield %>
    </div>
  </div>
  <div class="push"></div>
  <%= partial :footer %>
</body>
