<head>
  <title>Chirper</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/application.css">
</head>

<body>

  <header>
    <div id="logo">Chirper</div>
    <div id="user-links">
      <a href="/sessions/new" id="sign-in" class="button">Sign In</a>
    </div>
  </header>

  <%= yield %>

</body>